@use "../config" as *;

.home-section {
  background-image: var(--image-gradient), url("/home-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.home-content {
  padding: 9rem 0 2rem;
  text-align: left;
}

.heading {
  font-size: 2.4rem;
  padding-left: 3rem;
}

.heading-name {
  font-size: 2.6rem;
  padding-left: 3rem;
}

.main-name {
  color: $brand-green;
}
