/* =====================================================
   MIXINS
   ===================================================== */

@use "bootstrap/scss/mixins" as bs;

@mixin smooth-transition($props...) {
  transition: $props 0.3s ease;
}

@mixin frosted-bg($bg) {
  background-color: $bg;
  backdrop-filter: blur(15px);
}

@mixin hover-underline($color) {
  position: relative;

  &::after {
    content: "";
    display: block;
    height: 4px;
    width: 0;
    border-radius: 50rem;
    background: $color;
    @include smooth-transition(width);
  }

  &:hover::after {
    width: 100%;
  }
}

@mixin section-padding {
  padding: 60px 0;
}
