/* =====================================================
   BRAND & BOOTSTRAP OVERRIDES
   ===================================================== */

@use "bootstrap/scss/variables" as *;

/* Brand */
$brand-green: #1fbd28;
$brand-green-dark: #1b5e1f;
$brand-blue: #2eb5cd;

/* Extend Bootstrap theme colors */
$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": $brand-green,
    "info": $brand-blue
  )
);

/* Bootstrap overrides */
$border-radius-pill: 50rem;
$btn-focus-box-shadow: none;
