@use "../config" as *;

.btn-primary {
  --bs-btn-bg: #{$brand-green-dark};
  --bs-btn-border-color: #{$brand-green-dark};

  &:hover {
    --bs-btn-bg: #{darken($brand-green-dark, 8%)};
    --bs-btn-border-color: #{darken($brand-green-dark, 8%)};
  }
}
